.science, .politics {
    margin-top: 30px;
}

.science-container, .politics-container {
    padding: 15px 0px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.science h2, .politics h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.science a, .politics a {
    color: #000;
}

.science-container div h2, .politics-container div h2 {
    font-size: 24px;
    padding: 10px 0px;
}

.science-container div span, .politics-container div span {
    font-size: 18px;
}

.science-container div span a, .politics-container div span a {
    color: #000;
}

.science-container div span a:hover, .politics-container div span a:hover, .science a:hover, .politics a:hover, .slider2 div span a:hover {
    color: blueviolet;
}